<ng-content select="[slot=header]"></ng-content>
<button
  *ngIf="showPlayButton"
  type="button"
  class="player-button"
  [class.is-playing]="playing"
  [attr.aria-label]="playing ? 'Pause ' + ariaLabel : 'Play ' + ariaLabel"
  (click)="onPlayPause()"
>
  <span [class.play-icon]="!playing" [class.play-icon-pause]="playing" aria-hidden="true"></span>
</button>
<div #waveformEl class="waveform-canvas generated-waveform" aria-hidden="true"></div>
<span *ngIf="showTime" class="wave-time">{{ currentTimeLabel }} / {{ durationLabel }}</span>
<ng-content></ng-content>
